{
  "ldhServer": "https://<ldh-api>",
  "activityLog": {
    "datasetID": "activity_log",
    "key": "<key here>",
    "pagesize": 100,
    "initialTimestamp": "1667306718",
    "datasetsToExclude": ["rdfjobs", "metadata", "policies_requests", "policies", "notifications", "access_requests"]
  },
  "notifications": {
    "datasetID": "notifications",
    "key": "<key here>"
  }
}